<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir senha</title>
    <link rel="stylesheet" href="/pages/RedefinePassword/password.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/pages/index/style.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
  </head>
  <body class="clinc">
    <div class="container">
      <div class="wrapper">
        <img src="/assets/icon/person.svg" class="peopleImage" />
        <div class="forms">
          <span class="title">
            <b>Olá, fulano!!</b>
            <br />
            Por favor, digite a sua nova senha
          </span>
          <div class="input_icon_div">
            <input type="password" id="password" placeholder="Senha" title="oi"/>
            <img
              src="/assets/icon/eyeOpen.png"
              class="eye"
              onclick="view(this)"
            />
          </div>
          <button>Redefinir</button>
        </div>
      </div>
    </div>
    <div id="loader"></div>
  </body>
  <script src="/pages/RedefinePassword/password.js"></script>
</html>
