<div class="appointment">
  <form class="appointment_container" *ngIf="data.type == 0" [formGroup]="formUser">
    <span class="title">Agendamento</span>
    <span id="dateSelect" class="subtitle">
      {{data.info.start | date: 'dd/MM/yyyy'}} 
      <ng-container *ngIf="!isSameDayHtml(data.info.start, getEndDateMinusOneDay(data.info.end))">
        - {{getEndDateMinusOneDay(data.info.end) | date: 'dd/MM/yyyy'}}
      </ng-container>
    </span>

    <div class="step one" *ngIf="step == 1">
      <span class="subtitle">Sua consulta médica seria para?</span>
      <select id="selectOptions" #optonsType1 (change)="changeOptionService(optonsType1.value)"
        formControlName="servico">
        <option value="none">Selecione uma opção</option>
        <option *ngFor="let item of services" [value]="item.new_servicoid"
          [title]="item.new_descricao == null ? '' : item.new_descricao">{{item.new_name}}</option>
      </select>
    </div>

    <div class="step two" *ngIf="step == 2">
      <span class="subtitle">Selecione o responsável pela consulta</span>
      <select id="prestador" #prestadorSelect (change)="changeOptionPrestador(prestadorSelect.value)"
        formControlName="prestador">
        <option *ngFor="let item of accountsService" [value]="item.id">{{item.name}}</option>
      </select>

      <button class="prestadorSelecionado">
        Visualizar dados do prestador
      </button>

      <span class="subtitle prestadorSelecionado" id="dontFind" *ngIf="!isDateInAgenda(data.info.start)">
        A data fornecida não coincide com o horário do médico. Escolha uma data
        disponível para o agendamento
      </span>

      <select id="dataDisponivel" class="prestadorSelecionado" formControlName="selectedDate" (change)="onDateChange()">
        <option value="none">Selecione uma data para o agendamento</option>
        <option [value]="item.livre + '|' + item.termino" *ngFor="let item of getFilteredAgenda()">
          {{formatDateToUTC(item.livre)}} - {{formatDateToUTC(item.termino)}}
        </option>
      </select>

      <select id="time" class="prestadorSelecionado">
        <option *ngFor="let item of availableTimeSlots"
          [value]="item.start.toISOString() + '|' + item.end.toISOString()">
          {{formatHourToUTC(item.start.toISOString())}} -
          {{formatHourToUTC(item.end.toISOString())}}
        </option>
      </select>

      <input type="text" class="initial prestadorSelecionado" id="local" [value]="prestadorSelected?.endereco"
        *ngIf="prestadorSelected?.domicilio" formControlName="local" />
      <span *ngIf="!prestadorSelected?.domicilio">
        Este prestador, não atende em domicílio, aqui está o endereço que a
        consulta será realizada
      </span>
      <span *ngIf="!prestadorSelected?.domicilio">Local da consulta: {{prestadorSelected?.endereco}}</span>
    </div>

    <div class="optionsButtons">
      <button id="finalizarAgenda" (click)="createAgenda()" *ngIf="step == 2">Finalizar</button>
      <button (click)="close()">Cancelar</button>
    </div>

    <img class="oswald_image" src="/assets/icon/Oswald.png" />
  </form>
  <form class="appointment_container" id="enterprise" *ngIf="data.type == 1" [formGroup]="formEnterprise">
    <span class="title">Adicionar horário livre</span>
    <span id="dateSelectMedico" class="subtitle">
      {{data.info.start | date: 'dd/MM/yyyy'}} 
      <ng-container *ngIf="!isSameDayHtml(data.info.start, getEndDateMinusOneDay(data.info.end))">
        - {{getEndDateMinusOneDay(data.info.end) | date: 'dd/MM/yyyy'}}
      </ng-container>
    </span>
    <span class="subtitle">Selecione o horário</span>
    <select id="timePrestador" formControlName="initiHour">
      <option value="00:00">00:00</option>
      <option value="00:30">00:30</option>
      <option value="01:00">01:00</option>
      <option value="01:30">01:30</option>
      <option value="02:00">02:00</option>
      <option value="02:30">02:30</option>
      <option value="03:00">03:00</option>
      <option value="03:30">03:30</option>
      <option value="04:00">04:00</option>
      <option value="04:30">04:30</option>
      <option value="05:00">05:00</option>
      <option value="05:30">05:30</option>
      <option value="06:00">06:00</option>
      <option value="06:30">06:30</option>
      <option value="07:00">07:00</option>
      <option value="07:30">07:30</option>
      <option value="08:00">08:00</option>
      <option value="08:30">08:30</option>
      <option value="09:00">09:00</option>
      <option value="09:30">09:30</option>
      <option value="10:00">10:00</option>
      <option value="10:30">10:30</option>
      <option value="11:00">11:00</option>
      <option value="11:30">11:30</option>
      <option value="12:00">12:00</option>
      <option value="12:30">12:30</option>
      <option value="13:00">13:00</option>
      <option value="13:30">13:30</option>
      <option value="14:00">14:00</option>
      <option value="14:30">14:30</option>
      <option value="15:00">15:00</option>
      <option value="15:30">15:30</option>
      <option value="16:00">16:00</option>
      <option value="16:30">16:30</option>
      <option value="17:00">17:00</option>
      <option value="17:30">17:30</option>
      <option value="18:00">18:00</option>
      <option value="18:30">18:30</option>
      <option value="19:00">19:00</option>
      <option value="19:30">19:30</option>
      <option value="20:00">20:00</option>
      <option value="20:30">20:30</option>
      <option value="21:00">21:00</option>
      <option value="21:30">21:30</option>
      <option value="22:00">22:00</option>
      <option value="22:30">22:30</option>
      <option value="23:00">23:00</option>
      <option value="23:30">23:30</option>
    </select>
    <span class="subtitle">Até</span>
    <select id="timePrestadorFinal" formControlName="finalHour">
      <option value="00:00">00:00</option>
      <option value="00:30">00:30</option>
      <option value="01:00">01:00</option>
      <option value="01:30">01:30</option>
      <option value="02:00">02:00</option>
      <option value="02:30">02:30</option>
      <option value="03:00">03:00</option>
      <option value="03:30">03:30</option>
      <option value="04:00">04:00</option>
      <option value="04:30">04:30</option>
      <option value="05:00">05:00</option>
      <option value="05:30">05:30</option>
      <option value="06:00">06:00</option>
      <option value="06:30">06:30</option>
      <option value="07:00">07:00</option>
      <option value="07:30">07:30</option>
      <option value="08:00">08:00</option>
      <option value="08:30">08:30</option>
      <option value="09:00">09:00</option>
      <option value="09:30">09:30</option>
      <option value="10:00">10:00</option>
      <option value="10:30">10:30</option>
      <option value="11:00">11:00</option>
      <option value="11:30">11:30</option>
      <option value="12:00">12:00</option>
      <option value="12:30">12:30</option>
      <option value="13:00">13:00</option>
      <option value="13:30">13:30</option>
      <option value="14:00">14:00</option>
      <option value="14:30">14:30</option>
      <option value="15:00">15:00</option>
      <option value="15:30">15:30</option>
      <option value="16:00">16:00</option>
      <option value="16:30">16:30</option>
      <option value="17:00">17:00</option>
      <option value="17:30">17:30</option>
      <option value="18:00">18:00</option>
      <option value="18:30">18:30</option>
      <option value="19:00">19:00</option>
      <option value="19:30">19:30</option>
      <option value="20:00">20:00</option>
      <option value="20:30">20:30</option>
      <option value="21:00">21:00</option>
      <option value="21:30">21:30</option>
      <option value="22:00">22:00</option>
      <option value="22:30">22:30</option>
      <option value="23:00">23:00</option>
      <option value="23:30">23:30</option>
    </select>
    <div class="optionsButtons">
      <button class="final" (click)="createAgendaLivre()">Finalizar</button>
      <button (click)="close()">Cancelar</button>
    </div>
    <img class="oswald_image" src="/assets/icon/Oswald.png" />
  </form>
</div>