<link rel="stylesheet" href="./pages/load/load.css" />
<style>
  .load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
  }

  .load-wrapp p {
    padding: 0 0 20px;
  }
  .load-wrapp:last-child {
    margin-right: 0;
  }

  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
  }

  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.4s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(4) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  @keyframes loadingC {
    0% {
      transform: translate(0, 0);
      background-color: var(--main-color-transparent);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
      background-color: var(--main-color);
    }
  }
</style>
<div class="content">
  <div class="load-wrapp">
    <div class="load-3">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
