<div class="profile_itens profile_info">
  <img [src]="user.new_perfil ?
  'data:image/png;base64,' + user.new_perfil : '/assets/icon/person.svg'" id="userImage"
    title="Clique aqui para trocar a foto de perfil" />
  <span class="user_info_text" id="username">{{user.name}}</span>
  <span class="user_info_text" id="usertype">{{user.new_tipodaconta == 0? 'Usuário' : 'Prestador'}}</span>
  <span class="user_info_text" id="usermail">{{user.emailaddress1}}</span>
  <span class="user_info_text" id="userphone">{{user.telephone1}}</span>
  <span class="user_info_text" id="userdocument">{{user.new_document}}</span>
  <span class="user_info_text" id="userplan" *ngIf="user.new_tipodaconta == 1">{{user.new_Plano.new_name}}</span>
  <button class="button_margin button" routerLink="/home/folder">
    Ver meus arquivos
  </button>
  <button class="button" (click)="logout()">Sair</button>
</div>
<div class="profile_itens profile_events">
  <div class="event_itens">
    <span class="title_events">Consultas ativas</span>
    <div class="consultas_container" id="appointments_active">
      <div class="consultas_find" *ngFor="let item of evenstActive | filter: 1">
        <span class="subtitle_events">{{item.title}}</span>
        <span>Início: {{ item.start | date:'dd/MM/yyyy HH:mm' }}</span>
        <span>Fim: {{ item.end | date:'dd/MM/yyyy HH:mm' }}</span>
        <div class="consultas_wrapper">
          <span>{{item.service}}</span>
          <span>{{item.local}}</span>
        </div>
      </div>
    </div>
    <button class="button_margin button" routerLink="/home/calendar">
      Fazer nova consulta
    </button>
  </div>
  <div class="event_itens">
    <span class="title_events">Consultas feitas ou canceladas</span>
    <div class="consultas_container" id="appointments_deactive"></div>
  </div>
</div>