@import url("./style.css");

body {
  background-color: var(--main-color);
}

.container {
  position: absolute;
  top: 9%;
  left: 200px;
  width: calc(75% - 120px);
  padding: 20px;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  transition: all 1s;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#favorite_files {
  display: none;
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.title_files {
  width: 100%;
  font-size: larger;
  color: var(--main-light);
  border-bottom: 2px solid var(--main-color);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.chatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  flex-direction: column;
}

.chatConversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  gap: 10px;
  align-items: baseline;
  overflow-x: auto;
}

.chat {
  background-color: var(--back-color);
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  width: auto;
  white-space: break-spaces;
  word-wrap: break-word;
}

.bot {
}

.user {
  background-color: var(--main-color);
  margin-left: auto;
}

.chatMessage {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: center;
  gap: 10px;
}

.chatMessage > input {
  border-radius: 40px;
  padding: 10px;
  width: 70%;
  border: 0px;
  outline: none;
  font-size: 16.5px;
}

.chatMessage > img {
  background-color: var(--main-light);
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all 1s;
}

.chatMessage > img:hover {
  width: 40px;
  height: 40px;
}

#chat,
#archive,
#plan,
#settings {
  display: none;
}

#settings,
#archive {
  background-color: transparent;
  padding: 0px;
  width: 80%;
  gap: 1%;
  flex-wrap: wrap;
}

.archive_itens.filter {
  width: calc(30% - 5px);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.archive_itens.every {
  width: calc(69% - 5px);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  gap: 20px;
  align-items: center;
}

.archive {
  background: var(--main-light);
  padding: 5px;
  display: flex;
  border-radius: 10px;
  gap: 5px;
  animation: open 0.5s ease-out;
  cursor: pointer;
  transition: all 1s;
}

.archive:hover {
  transform: scale(0.9);
}

.arhive_preview {
  width: 70px;
  display: flex;
  align-items: center;
}

.arhive_preview > img {
  width: 100%;
}

.archive_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7.5px;
}

.archive_info_more {
  display: flex;
  justify-content: space-between;
}

.options_file {
  display: flex;
  justify-content: space-between;
}

.search_input_files {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  background-color: var(--main-light);
  padding: 5px;
  border-radius: 10px;
}

.files_view {
  width: calc(100% - 20px);
  height: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  overflow: auto;
}

.options_file_view {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 5%;
}

#iframe_view{
  height: 90%;
  width: calc(100% - 20px);
  border: 2px solid var(--main-color);
  border-radius: 30px;
}

.options_file_view > span {
  font-size: larger;
  color: var(--main-light);
  font-weight: 700;
}

.archive_anexer {
  width: calc(100% - 20px);
  margin: auto;
  border: 0px solid;
  background-color: var(--main-color);
  color: var(--main-light);
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s;
}

.input_body {
  width: 100%;
  background-color: transparent;
  border: 0px solid;
  padding-left: 5px;
  font-size: medium;
}

.profile_itens {
  width: calc(50% - 5px);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  flex: 1 1 49%;
  box-sizing: border-box;
  padding: 10px;
}

.profile_itens img {
  max-width: 100%;
  height: auto;
}

.profile_info {
  border-radius: 30px;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: column;
}

.user_info_text {
  width: 100%;
  color: var(--main-light);
  padding-left: 20px;
  text-align: center;
  font-size: calc(17px + 0.390625vw);
  padding-right: 20px;
}

#userImage {
  width: 48%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  cursor: pointer;
}

#username {
  color: var(--main-color);
  font-weight: bolder;
  font-size: calc(30px + 0.390625vw);
}

#usertype {
  background-color: var(--main-color);
  padding: 0px;
  width: 80%;
  border-radius: 10px;
}

.title_events {
  color: var(--main-color);
  font-weight: bolder;
  font-size: calc(20px + 0.390625vw);
}

.edit_button {
  margin-top: auto;
  width: 50%;
  border: 0px solid;
  background-color: var(--main-color);
  color: var(--main-light);
  font-size: calc(17px + 0.390625vw);
  transition: all 1s;
  border-radius: 10px;
  cursor: pointer;
}

.edit_button:hover {
  width: 60%;
}

.profile_events {
  background-color: transparent;
  gap: 1%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.event_itens {
  background-color: rgba(255, 255, 255, 0.5);
  flex: 1 1 49%;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help_doctor {
  position: absolute;
  right: 10px;
  height: 70%;
  bottom: 0px;
  cursor: pointer;
}

.chatHeader {
  width: 100%;
  font-size: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid var(--main-light) !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--main-color) !important;
}

.fc-h-event .fc-event-title-container,
.fc .fc-daygrid-day-frame {
  cursor: pointer !important;
  transition: all 1s;
}

.fc-h-event .fc-event-title-container:hover,
.fc .fc-daygrid-day-frame:hover {
  background-color: var(--main-color-transparent);
}

.fc .fc-highlight {
  background-color: var(--main-color-transparent);
}

.fc-today-button .fc-button .fc-button-primary {
  display: none;
}
