.background_login {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.erro_login {
  display: none;
  color: red;
  font-style: italic;
}

.wrapper_login {
  background-color: var(--back-color);
  padding: 20px;
  max-width: 39%;
  max-height: 50%;
  min-width: 500px;
  min-height: 30%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* -webkit-box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.28);
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.28); */
}

.checkbox_login {
  width: 80%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--main-color);
  font-size: large;
}

.wrapper_header_login {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}

.close_login {
  width: 40px;
  cursor: pointer;
  height: 40px;
}

.close_login:hover {
  transform: scale(1.1, 1.1) rotate(90deg);
  transition: all 1s;
}

.title_login {
  color: var(--main-color);
  font-size: clamp(20px, 3.5vw, 35px);
  width: 100%;
}

.button_login {
  color: var(--main-light);
  border: 0px solid;
  font-size: clamp(20px, 3.5vw, 25px);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background: var(--main-color);
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.button_login:hover {
  transition: all 1s;
  transform: scale(1.1, 1.1);
}

.forget_login {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.link_login {
  color: var(--main-color);
  font-size: clamp(15px, 4vw, 20px);
  cursor: pointer;
}

.link_login:hover {
  transition: all 1s;
  transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 840px) {
  .wrapper_login {
    width: 90%;
    max-width: unset;
  }
}
