<div class="plan_item">
  <span class="plan_title">Básico</span>
  <span class="plan_subtitle">
    Este plano inclui a capacidade de armazenar até dois arquivos e oferece
    acesso ao Oswald, nosso assistente virtual. Oswald está disponível para
    responder dúvidas, resolvendo questões de forma eficiente.
  </span>
  <b class="plan_value" style="margin-top: 20px;">R$100,00 / Mês</b>
  <b class="plan_value">R$2400,00 / Ano</b>
  <hr />
  <span class="plan_subtitle" style="font-weight: 600;">Benefícios</span>
  <ul>
    <li>Integração com o ChatGpt</li>
  </ul>
  <hr />
  <button class="button_add_plan">Adiquirir</button>
</div>
