<app-inicial (sobre)="sobreView = !sobreView"></app-inicial>
<div class="background_main"></div>
<div class="container_main">
    <div class="text_main" *ngIf="!sobreView">
        <div class="title_main">
            <img class="logo_main image_main" src="/assets/icon/logo.png" />
            <span>ClinicApp</span>
        </div>
        <span class="title_main">Sua saúde no seu tempo</span>
        <!-- <div class="strong_main button_main" id="consultar">
            <span>Agendar uma consulta:</span>
            <span style="display: none" class="options"><img src="/assets/icon/chat.png" /> Via App</span>
            <span style="display: none" class="options"><img src="/assets/icon/whatsapp.png" /> Via Whatsapp</span>
        </div> -->
    </div>
    <div class="sobre_main" *ngIf="sobreView">
        <div class="wrapper_sobre_main">
            <span class="title_main">Sobre Nós</span>
            <span>
                Bem-vindo ao ClinicApp, a solução inovadora para agendamento de
                consultas médicas online
            </span>
            <span>
                Nossa missão é simplificar e facilitar o acesso à saúde, conectando
                pacientes a médicos de maneira rápida e eficiente.
            </span>
            <div class="wrapper_sobre_buttons">
                <button (click)="changeSobre(1)"
                    [class]="[{'buttons_sobre_main' : true}, { 'active': sobreNumber == 1 }]">
                    Nossa História
                </button>
                <button (click)="changeSobre(2)"
                    [class]="[{'buttons_sobre_main' : true}, { 'active': sobreNumber == 2 }]">
                    Nossa Missão
                </button>
                <button (click)="changeSobre(3)"
                    [class]="[{'buttons_sobre_main' : true}, { 'active': sobreNumber == 3 }]">
                    Nossa Visão
                </button>
                <button (click)="changeSobre(4)"
                    [class]="[{'buttons_sobre_main' : true}, { 'active': sobreNumber == 4 }]">
                    O que oferecemos
                </button>
            </div>
            <span class="text_sobre_main" *ngIf="sobreNumber == 1">
                O ClinicApp nasceu da necessidade de tornar o cuidado com a saúde mais
                acessível e menos burocrático. Vivemos em um mundo onde a tecnologia
                facilita diversos aspectos de nossas vidas, e acreditamos que o
                agendamento de consultas médicas não deveria ser diferente. Nossa
                equipe, composta por profissionais de tecnologia e saúde, uniu forças
                para criar uma plataforma que coloca o paciente em primeiro lugar.
            </span>
            <span class="text_sobre_main" *ngIf="sobreNumber == 2">
                Nossa missão é proporcionar uma experiência de agendamento sem
                complicações, garantindo que você possa encontrar e marcar uma consulta
                médica de forma rápida e conveniente. Acreditamos que o acesso à saúde
                deve ser simples e descomplicado, e estamos aqui para tornar isso
                possível.
            </span>
            <span class="text_sobre_main" *ngIf="sobreNumber == 3">
                Nossa visão é ser a plataforma líder em agendamento de consultas médicas
                online, reconhecida pela excelência em serviço e compromisso com a saúde
                e bem-estar dos nossos usuários. Queremos transformar a maneira como as
                pessoas acessam cuidados médicos, tornando esse processo mais humano e
                eficiente.
            </span>
            <span class="text_sobre_main" *ngIf="sobreNumber == 4">
                <ul>
                    <li>
                        <strong>Facilidade de Uso:</strong> Com uma interface intuitiva,
                        nosso aplicativo permite que você agende suas consultas em poucos
                        cliques, seja no conforto da sua casa ou em movimento.
                    </li>
                    <li>
                        <strong>Variedade de Especialidades:</strong> Conectamos você a uma
                        ampla rede de médicos e clínicas, abrangendo diversas especialidades
                        para atender às suas necessidades de saúde.
                    </li>
                    <li>
                        <strong>Agendamento Rápido:</strong> Diga adeus às longas esperas ao
                        telefone. Com o ClinicApp, você encontra horários disponíveis e
                        marca sua consulta instantaneamente.
                    </li>
                    <li>
                        <strong>Lembretes e Notificações:</strong> Nunca mais esqueça uma
                        consulta. Nosso sistema de lembretes e notificações garante que você
                        esteja sempre informado sobre seus compromissos médicos.
                    </li>
                    <li>
                        <strong>Acessibilidade:</strong> Disponível para Android e iOS,
                        nosso aplicativo é acessível a qualquer momento, de qualquer lugar.
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <div class="styling_main"><img src="/assets/images/enfermeira.png" /></div>
</div>