<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro</title>
    <link rel="stylesheet" href="/css/colors.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

      * {
        font-family: "Inter", sans-serif !important;
        margin: 0px;
        padding: 0px;
      }

      .background {
        background-image: url("/assets/images/backEscritorio.jfif");
        position: fixed;
        top: -1vh;
        left: -1vw;
        background-repeat: no-repeat;
        width: 102vw;
        height: 102vh;
        background-position: center;
        background-size: cover;
        filter: brightness(0.4) blur(5px);
      }

      .container {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: var(--main-light);
      }

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }

      h1 {
        color: var(--main-color);
        font-size: 10vw;
      }

      h3 {
        font-size: 2.5vw;
      }

      button {
        background-color: var(--main-color);
        color: var(--main-light);
        padding: 10px 20px;
        border: 0px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
      }
    </style>
  </head>
  <body class="clinc">
    <div class="container">
      <div class="wrapper">
        <h1 class="erro"><%= erroCode %></h1>
        <h3 class="erro"><%= erro %></h3>
        <span class="text"><%= message %></span>
        <button>Voltar</button>
      </div>
    </div>
    <div class="background"></div>
  </body>
  <script>
    document.getElementsByTagName("button")[0].addEventListener("click", () => {
      window.location.href = "/";
    });
  </script>
</html>
