<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/colors.css" />
  <link rel="stylesheet" href="/pages/home/home.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.16.0/pdf-lib.min.js"></script>
  <!-- <script src="fullcalendar/core/locales/es.global.js"></script> -->
  <title>Agendamentos</title>
</head>

<body class="clinc">
  <div id="header"></div>
  <div class="container" id="calendar"></div>
  <div class="container" id="chat">
    <div class="chatContainer">
      <div class="chatHeader">
        <span>Oswald</span>
      </div>
      <div class="chatConversation" id="chatConversation"></div>
      <div class="chatMessage">
        <input type="text" id="inputUser" />
        <img src="/assets/icon/send.svg" onclick="chatQuest()" />
      </div>
    </div>
  </div>
  <div class="container" id="archive">
    <div class="archive_itens filter">
      <div class="search_input_files">
        <input type="text" class="input_body" placeholder="Pesquisar por arquivos" />
        <img src="/assets/icon/search.svg" />
      </div>
      <div class="files_view">
        <span class="title_files" onclick="openSection('favorite_files')">Favoritos <img
            src="/assets/icon/arrow_drop.svg" /></span>
        <div class="category" id="favorite_files">
          <div class="archive">
            <div class="arhive_preview">
              <img src="/assets/icon/image_type.svg" />
            </div>
            <div class="archive_info">
              <span>Nome.jpg</span>
              <div class="archive_info_more">
                <span>10/03/2005</span>
                <span>7MB</span>
              </div>
              <div class="options_file">
                <img src="/assets/icon/favorite_fill.svg" />
                <img src="/assets/icon/bookmark.svg" />
                <img src="/assets/icon/delete.svg" />
              </div>
            </div>
          </div>

          <div class="archive">
            <div class="arhive_preview">
              <img src="/assets/icon/file_type.svg" />
            </div>
            <div class="archive_info">
              <span>Nome.pdf</span>
              <div class="archive_info_more">
                <span>10/03/2005</span>
                <span>9MB</span>
              </div>
              <div class="options_file">
                <img src="/assets/icon/favorite_fill.svg" />
                <img src="/assets/icon/bookmark.svg" />
                <img src="/assets/icon/delete.svg" />
              </div>
            </div>
          </div>
        </div>
        <span class="title_files" onclick="openSection('every_files')">Todos os arquivos<img
            src="/assets/icon/arrow_drop.svg" /></span>
        <div class="category" id="every_files">
          <div class="archive">
            <div class="arhive_preview">
              <img src="/assets/icon/image_type.svg" />
            </div>
            <div class="archive_info">
              <span>Nome.jpg</span>
              <div class="archive_info_more">
                <span>10/03/2005</span>
                <span>7MB</span>
              </div>
              <div class="options_file">
                <img src="/assets/icon/favorite_fill.svg" />
                <img src="/assets/icon/bookmark.svg" />
                <img src="/assets/icon/delete.svg" />
              </div>
            </div>
          </div>

          <div class="archive">
            <div class="arhive_preview">
              <img src="/assets/icon/file_type.svg" />
            </div>
            <div class="archive_info">
              <span>Nome.pdf</span>
              <div class="archive_info_more">
                <span>10/03/2005</span>
                <span>9MB</span>
              </div>
              <div class="options_file">
                <img src="/assets/icon/favorite_fill.svg" />
                <img src="/assets/icon/bookmark.svg" />
                <img src="/assets/icon/delete.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="archive_anexer" onclick="enviarArquivo()">
        Anexar arquivo
      </button>
    </div>
    <div class="archive_itens every">
      <div class="options_file_view">
        <span>Nome arquivo.png</span>
        <img src="/assets/icon/favorite_fill.svg" />
        <img src="/assets/icon/bookmark.svg" />
        <img src="/assets/icon/delete.svg" />
      </div>
      <iframe src="" id="iframe_view"></iframe>
      <input type="file" style="display: none;" id="file_manager_input" />
    </div>
  </div>
  <div class="container" id="plan">plan</div>
  <div class="container" id="settings">
    <div class="profile_itens profile_info">
      <img src="/assets/icon/person.svg" id="userImage" title="Clique aqui para trocar a foto de perfil" />
      <span class="user_info_text" id="username">Nome do usuário</span>
      <span class="user_info_text" id="usertype">Tipo de conta</span>
      <span class="user_info_text" id="usermail">Email da conta</span>
      <span class="user_info_text" id="userphone">Telefone da conta</span>
      <span class="user_info_text" id="userdocument">Documento do usuário</span>
      <span class="user_info_text" id="userplan">Plano do usuário</span>
      <span class="user_info_text" id="userplan">Ver meus arquivos</span>
      <button class="edit_button">Editar dados</button>
    </div>
    <div class="profile_itens profile_events">
      <div class="event_itens">
        <span class="title_events">Minhas consultas ativas</span>
        <div class="consultas_find"></div>
        <button class="edit_button">Fazer nova consulta</button>
      </div>
      <div class="event_itens">
        <span class="title_events">Minhas consultas feitas</span>
      </div>
    </div>
  </div>
  <img class="help_doctor" src="/assets/icon/Help.png" onclick="changeView(1)" />
  <input type="file" style="display: none;" id="fileInput" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="/pages/home/home.js"></script>
</body>

</html>