<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta</title>
    <link rel="icon" type="image/x-icon" href="/assets/icon/logo.ico" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="./index.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body class="clinc">
    <div id="header"></div>
    <div id="content"></div>
    <div id="dialog"></div>
    <div id="alert"></div>

    <script>
      $(document).ready(function () {
        $("#header").load("/pages/headers/main/header.html");
        $("#content").load("/pages/hero/hero.html");
      });
    </script>
  </body>
</html>
