<div class="chatContainer">
  <div class="chatHeader">
    <span>Oswald</span>
  </div>
  <div class="chatConversation" id="chatConversation">
    <span
      *ngFor="let item of chatView"
      [class]="item.role == 'user'? 'user chat' : 'bot chat'"
      >{{item.content}}</span
    >
  </div>
  <div class="chatMessage">
    <input
      type="text"
      id="inputUser"
      [(ngModel)]="quest"
      (keydown.enter)="chat()"
    />
    <img src="/assets/icon/send.svg" (click)="chat()" />
  </div>
</div>
