<div class="header">
    <div class="title_header">
        <img class="logo_cell_header image_header" src="/assets/icon/cardapio.png" (click)="showMenu()" />
    </div>
    <div class="button_group_header">
        <button class="button_header" (click)="registerEnterpriseOpen()">Planos para empresas</button>
        <button class="button_header" (click)="sobreNos()">Sobre nós</button>
        <button class="button_header" style="display: none;" (click)="paginaInicial()">
            Início
        </button>
        <button class="button_header" (click)="registerOpen()">Cadastrar-se</button>
        <button class="strong_header button_header" (click)="loginOpen()">
            Entrar
        </button>
    </div>
    <div class="button_group_enter_header">
        <button class="strong_header button_header" (click)="loginOpen()">
            Entrar
        </button>
    </div>
</div>
<div id="background_header">
    <div class="menu_header">
        <button class="button_header" (click)="sobreNos()">Sobre nós</button>
        <button class="button_header" style="display: none;" (click)="paginaInicial()">
            Início
        </button>
        <button class="button_header">Cadastre-se</button>
    </div>
</div>