<div class="header">
    <div class="title_header">
        <mat-icon class="logo_cell_header image_header" (click)="showMenu()">menu</mat-icon>
    </div>
    <div class="button_group_header">
        <button class="button_header" routerLink="./plans" *ngIf="!pathSelect.includes('plan')">Planos para
            empresas</button>
        <button class="button_header" routerLink="/" *ngIf="pathSelect.includes('plan')">Página inicial</button>
        <button class="button_header" *ngIf="!pathSelect.includes('plan') && sobreView" (click)="changeViewSobre()">Sobre nós</button>
        <button class="button_header" *ngIf="!sobreView && !pathSelect.includes('plan')" (click)="changeViewSobre()">Fechar</button>
        <button class="button_header" *ngIf="!pathSelect.includes('plan')" (click)="openDialogRegister()">Cadastrar-se</button>
        <button class="button_header" (click)="openDialogRegisterEnterprise()" *ngIf="pathSelect.includes('plan')">Cadastre sua empresa</button>
        <button class="strong_header button_header" (click)="openDialogLogin()">
            Entrar
        </button>
    </div>
    <div class="button_group_enter_header">
        <button class="strong_header button_header" (click)="openDialogLogin()">
            Entrar
        </button>
    </div>
</div>
<div id="background_header" *ngIf="menuView">
    <mat-icon class="close" (click)="showMenu()">close</mat-icon>
    <div class="menu_header">
        <button class="button_header" *ngIf="!sobreView" style="width: 70%;" (click)="changeViewSobre()">
            <span>Voltar</span>
            <span>></span>
        </button>
        <button class="button_header" *ngIf="sobreView" style="width: 70%;" (click)="changeViewSobre()">
            <span>Sobre nós</span>
            <span>></span>
        </button>
        <button class="button_header" style="width: 70%;" (click)="changeViewSobre()">
            <span>Nossos planos</span>
            <span>></span>
        </button>
        <button class="mainButton">Cadastre-se</button>
    </div>
</div>