.header {
  width: calc(100vw - 20px);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.image_rotate:hover {
  transform: rotate(90deg) scale(1.1, 1.1) !important;
}

#background_header {
  position: fixed;
  left: 0px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1;
  height: 100vh;
}

.menu_header {
  background: linear-gradient(145deg, var(--back-sec-color), var(--back-color));
  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--main-color);
  z-index: 7;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: auto;
  padding: 10px 0px 10px 0px;
  gap: 10px;
}

button.mainButton {
  background-color: var(--main-color);
  border: 0px solid;
  color: var(--main-light);
  font-size: clamp(15px, 4vw, 20px);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  width: 50%;
  margin: auto;
  transition: all 1s;
}

.close {
  position: absolute;
  font-size: 30px;
  padding: 10px;
  z-index: 11111111111111;
  font-weight: bold;
}

.button_header {
  border: 0px solid;
  background-color: transparent;
  color: var(--main-light);
  font-size: clamp(15px, 4vw, 20px);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  transition: all 1s;
}

.strong_header {
  color: var(--main-light);
  background-color: var(--main-color);
  border-radius: 30px;
}

.logo_cell_header {
  display: none;
  cursor: pointer;
  width: auto;
  font-size: 40px;
  height: auto;
}

.button_group_enter_header {
  display: none;
}

.button_group_header {
  display: flex;
}

.logo_cell_header:hover,
.menu_header > button:hover {
  transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 740px) {
  .button_group_header {
    display: none;
  }
  .button_group_enter_header {
    display: block;
  }
  .logo_header {
    display: none;
  }
  .logo_cell_header {
    display: block;
  }
  .title_header > span {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
