body {
  background-image: url("/assets/images/backEscritorio.jfif");
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.wrapper {
  width: 50%;
  background: linear-gradient(145deg, var(--back-sec-color), var(--back-color));
  border-radius: 30px;
  padding: 30px;
  animation: slide 1s;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  border: 5px solid white;
}

@keyframes slide {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.peopleImage {
  position: absolute;
  top: -20%;
  width: 35%;
  background-color: var(--back-color);
  border-radius: 100%;
}

.title {
  margin-top: 25%;
}

.input_icon_div {
  height: fit-content;
  width: 100% !important;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 50%;
  height: 40px;
  margin: auto;
  background-color: var(--main-color);
  border: 0px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: large;
}
