<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/includes/colors.css" />
    <link rel="stylesheet" href="../css/cssHomePage.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
    <!-- <script src="fullcalendar/core/locales/es.global.js"></script> -->
    <title>Agendamentos</title>
  </head>

  <body class="clinc">
    <div id="header"></div>
    <div class="container" id="calendar"></div>
    <div class="container" id="chat">
      <div class="chatContainer">
        <div class="chatHeader">
          <span>Oswald</span>
        </div>
        <div class="chatConversation" id="chatConversation"></div>
        <div class="chatMessage">
          <input type="text" id="inputUser" />
          <img src="../assets/icon/send.svg" onclick="chatQuest()" />
        </div>
      </div>
    </div>
    <div class="container" id="archive">
      <div class="archive_itens filter">
        <div class="search_input_files">
          <input type="text" class="input_body" placeholder="Pesquisar por arquivos">
          <img src="../assets/icon/search.svg">
        </div>
        <div class="files_view"></div>
        <button class="archive_anexer">Anexar arquivo (0/5)</button>
      </div>
      <div class="archive_itens every">
        <div class="fovorite">
          <span>Favoritos</span>
        </div>
        <div class=""></div>
        <!-- <div class="archive">
          <div>
            <img>
          </div>
          <div>
            <span>Nome.jpg</span>
            <div>
              <span>Data de modificação</span>
              <span>Tamanho</span>
            </div>
            <div>
              <img src="" alt="">
              <img src="" alt="">
              <img src="" alt="">
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="container" id="plan">plan</div>
    <div class="container" id="settings">
      <div class="profile_itens profile_info">
        <img
          src="../assets/icon/person.svg"
          id="userImage"
          title="Clique aqui para trocar a foto de perfil"
        />
        <span class="user_info_text" id="username">Nome do usuário</span>
        <span class="user_info_text" id="usertype">Tipo de conta</span>
        <span class="user_info_text" id="usermail">Email da conta</span>
        <span class="user_info_text" id="userphone">Telefone da conta</span>
        <span class="user_info_text" id="userdocument"
          >Documento do usuário</span
        >
        <span class="user_info_text" id="userplan">Plano do usuário</span>
        <span class="user_info_text" id="userplan">Ver meus arquivos</span>
        <button class="edit_button">Editar dados</button>
      </div>
      <div class="profile_itens profile_events">
        <div class="event_itens">
          <span class="title_events">Minhas consultas ativas</span>
          <div class="consultas_find"></div>
          <button class="edit_button">Fazer nova consulta</button>
        </div>
        <div class="event_itens">
          <span class="title_events">Minhas consultas feitas</span>
        </div>
      </div>
    </div>
    <img
      class="help_doctor"
      src="../assets/icon/Help.png"
      onclick="changeView(1)"
    />
    <input type="file" style="display: none;" id="fileInput" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="../controller/homePage.js"></script>
  </body>
</html>
