<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/includes/colors.css" />
    <link rel="stylesheet" href="../css/cssHomePage.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
    <!-- <script src="fullcalendar/core/locales/es.global.js"></script> -->
    <title>Agendamentos</title>
  </head>

  <body class="clinc">
    <div id="header"></div>
    <div class="container" id="calendar"></div>
    <div class="container" id="chat">
      <div class="chatContainer">
        <div class="chatHeader">
          <span>Oswald</span>
        </div>
        <div class="chatConversation" id="chatConversation"></div>
        <div class="chatMessage">
          <input type="text" id="inputUser" />
          <img src="../assets/icon/send.svg" onclick="chatQuest()" />
        </div>
      </div>
    </div>
    <div class="container" id="archive">archive</div>
    <div class="container" id="plan">plan</div>
    <div class="container" id="settings">
      <div class="profile_itens profile_info">
        <img
          src="../assets/icon/person.svg"
          id="userImage"
          title="Clique aqui para trocar a foto de perfil"
          onclick=""
        />
      </div>
      <div class="profile_itens profile_events">
        <div>oi1</div>
        <div>oi2</div>
      </div>
    </div>
    <img
      class="help_doctor"
      src="../assets/icon/Help.png"
      onclick="changeView(1)"
    />
    <input type="file" style="display: none;" id="fileInput" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="../controller/homePage.js"></script>
  </body>
</html>
