<span class="title_events">Nome do Evento</span>
<span class="subtitle_events">Início: 00/00/0000 00:00</span>
<span class="subtitle_events">Fim: 00/00/0000 00:00</span>
<div class="eventView_wrapper">
  <div class="item_event">
    <span class="subtitle_events">Cliente</span>
    <span>Nome</span>
    <span>Email</span>
    <span>Redes sociais</span>
    <span>Telefone</span>
    <span
      >Sugerimos que as mensagens sejam trocadas por meio de redes sociais para
      facilitar a socialização entre cliente e fornecedor</span
    >
  </div>
  <div></div>
</div>
